In [5]:
import time
for item in "Python":
    time.sleep(3)
    
    print(item)
    time.sleep(3)
    print("i m going to next element please wait")

P
i m going to next element please wait
y
i m going to next element please wait
t
i m going to next element please wait
h
i m going to next element please wait
o
i m going to next element please wait
n
i m going to next element please wait

In [10]:
for item in 32:
    print(item)

TypeError: 'int' object is not iterable

In [26]:
import random

for i in range(100000,100011,1):
    print(i)
    # print(random.randint(100000,999999))

100000
100001
100002
100003
100004
100005
100006
100007
100008
100009
100010

In [19]:
import random
random.randint(1000,9999)

9807

In [27]:
sequence = ["Python","Mysql","Database"]
for item in sequence:
    print(item)

Python
Mysql
Database

In [30]:
sequence = ["Rohit","Rkt6543@gmail.com","Sachin","Sachin@yahoo.com","Aman","Aman@gmail.com","Chirag","chirag@rex.com"]

In [32]:
for item in sequence:
    print(item)

Rohit
Rkt6543@gmail.com
Sachin
Sachin@yahoo.com
Aman
Aman@gmail.com
Chirag
chirag@rex.com

In [33]:
sequence = ["Rohit","Rkt6543@gmail.com","Sachin","Sachin@yahoo.com","Aman","Aman@gmail.com","Chirag","chirag@rex.com"]

In [35]:
length = len(sequence)
print(length)

8

In [43]:
for index in range(0,len(sequence),2):
    print(sequence[index])

Rohit
Sachin
Aman
Chirag

In [44]:
for index in range(1,len(sequence),2):
    print(sequence[index])

Rkt6543@gmail.com
Sachin@yahoo.com
Aman@gmail.com
chirag@rex.com

In [47]:
sequence[1:len(sequence):2]

['Rkt6543@gmail.com', 'Sachin@yahoo.com', 'Aman@gmail.com', 'chirag@rex.com']

In [57]:
indian_employees = [["Raj", "Patel"],["Priya", "Sharma"],["Amit", "Kumar"],["Neha", "Singh"]]

In [56]:
for name in indian_employees:
    print(name)
    for sigle_name in name:
        print(sigle_name)

['Raj', 'Patel', 'rohit']
Raj
Patel
rohit
['Priya', 'Sharma']
Priya
Sharma
['Amit', 'Kumar']
Amit
Kumar
['Neha', 'Singh']
Neha
Singh

In [51]:
indian_employees[0][0]

rohit.lastname@ducat.com

'Raj'

In [58]:
indian_employees = [["Raj", "Patel"],["Priya", "Sharma"],["Amit", "Kumar"],["Neha", "Singh"]]

In [65]:
for email in indian_employees:
    print(f"{email[0]}.{email[1]}@ducat.com")

Raj.Patel@ducat.com
Priya.Sharma@ducat.com
Amit.Kumar@ducat.com
Neha.Singh@ducat.com

In [66]:
input 3 
3 x 1 = 3

SyntaxError: invalid syntax (3373040846.py, line 1)

In [70]:
table = int(input("Enter your table : "))

for i in range(1,11,1):
    print(f"{table} X {i} = {table*i}")

Enter your table :  6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60