------------------------------------------------------    SET                              ------------------------------------------------

In Python, a set is a built-in data structure that is used to store an unordered collection of unique elements. This means that each element in a set is unique and cannot appear more than once.

# Key Characteristics of Sets in Python

Unordered: 
The elements in a set do not have a specific order. This means that when you iterate over a set, the elements may appear in a different order than you added them.

Unique Elements: 
Sets automatically ensure that all elements are unique. If you try to add a duplicate element, it will not be included in the set.

Mutable: 
Sets can be modified after creation. You can add or remove elements from a set.

No Indexing: 
Since sets are unordered, they do not support indexing, slicing, or other sequence-like behavior.

# Creating a Set

You can create a set by using curly braces {} or by using the set() function. Here are examples of both methods:

In [113]:
# Using curly braces
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Using the set() function
another_set = set([1, 2, 3, 4, 5])
print(another_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

# Set Operations

Sets support various operations that are useful for mathematical set theory. These include union, intersection, difference, and symmetric difference.

#  difference

In [1]:
my_set1={1,343,44,5}
my_set2={1,2,3}
my_set3=my_set1.difference(my_set2)
print(my_set3)

{44, 5, 343}

In [30]:
my_set.difference()

{1, 2, 3}

 # difference_update

In [46]:
my_set1={1,343,44,5}
my_set2={1,2,3}
my_set1.difference_update(my_set2)
print(my_set1)

{44, 5, 343}

In [47]:
my_set1={1,343,44,5}
my_set2={1,2,3}
my_set2.difference_update(my_set1)
print(my_set2)

{2, 3}

# Discard()

In [58]:
my_set1={1,343,44,55}   #if item not found does not throw error
my_set1.discard(565)
print(my_set1)

{1, 44, 343, 55}

#  remove()

In [60]:
my_set1={1,343,44,55}
my_set1.remove(55)     # if item not found throws  error
print(my_set1)

{1, 44, 343}

  #  intersection()

In [64]:
my_set1={1,343,44,55}  # return  intersection 
my_set2={1,2,3}
my_set1.intersection(my_set2)

{1}

#  intersection_update

In [67]:
my_set1={1,343,44,55} 
my_set2={1,2,3}
my_set1.intersection_update(my_set2)
print(my_set1)

{1}

In [68]:
my_set1={1,343,44,55} 
my_set2={1,2,3}
my_set2.intersection_update(my_set1)
print(my_set2)

{1}

#  isdisjoint()

In [69]:
my_set1={1,343,44,55}   #   Return True if two sets have a null intersection.
my_set2={1,2,3}
my_set1.isdisjoint(my_set2)

False

In [76]:
my_set1={1,2,3}   # Return True if two sets have a null intersection.
my_set2={4,5,6}
my_set1.isdisjoint(my_set2)

True

# issubset

In [81]:
my_set1={1,343,44,55}     #Report whether another set contains this set.
my_set2={1,2,3}
my_set1.issubset(my_set2)

False

In [84]:
my_set1={1,343,44,55,2,3}     
my_set2={1,2,3}
my_set2.issubset(my_set1)

True

#  issuperset

In [86]:
my_set1={1,343,44,55,2,3}     
my_set2={1,2,3}
my_set2.issuperset(my_set1)

False

In [87]:
my_set1={1,343,44,55,2,3}     
my_set2={1,2,3}
my_set1.issuperset(my_set2)

True

# pop

In [96]:
# Python set pop() removes any random element from the set and returns the removed element. In this article,
# we will see about the Python set pop() method.
my_set1={1,343,44,55,2,3}      
# my_set2={1,2,3}
my_set1.pop()
print(my_set1)

{2, 3, 55, 44, 343}

# symmetric_difference

In [99]:
# Return everything from both set except intersecction 
my_set1={1,343,44,55,2,3}       
my_set2={1,2,3,99}
my_set1.symmetric_difference(my_set2)

{44, 55, 99, 343}

#  symmetric_difference_update

In [102]:
my_set1={1,343,44,55,2,3}       
my_set2={1,2,3,99}
my_set1.symmetric_difference_update(my_set2)
print(my_set1)

{99, 55, 44, 343}

# union

In [103]:
# All values from both set one time
my_set1={1,343,44,55,2,3}       
my_set2={1,2,3,99}
my_set1.union(my_set2)

{1, 2, 3, 44, 55, 99, 343}

# update

In [119]:
my_set1={1,2,3,5}       # Update a set with the union of itself and others.
my_set2={1,2,3,4}
my_set2.update(my_set1)  # set1 will be updated in set2 # all element 
print(my_set1)

{1, 2, 3, 5}