In [1]:
len()
print()
strip()

TypeError: len() takes exactly one argument (0 given)

In [ ]:
name = "ROhit"
print(f"This is {name} detail")

name2 = "Sachin"
print(f"This is {name2} detail")

name3 = "Shiv"
print(f"This is {name3} detail")

In [ ]:
name = "ROhit"
print(f"This is {name} detail")

name2 = "Sachin"
print(f"This is {name2} detail")

name3 = "Shiv"
print(f"This is {name3} detail")

In [ ]:
def rohit_function():
    """This function has been created to print value for Sachin rohit and shiv"""
    name = "ROhit"
    print(f"This is {name} detail")

    name2 = "Sachin"
    print(f"This is {name2} detail")
    
    name3 = "Shiv"
    print(f"This is {name3} detail")

In [ ]:
rohit_function()

In [ ]:
rohit_function()

In [ ]:
rohit_function()

In [ ]:
import math

In [ ]:
math.__doc__

In [ ]:
math.factorial.__doc__

In [ ]:
rohit_function.__doc__

In [5]:
def my_function():
    number1 = 6
    number2 = 6
    total = number1+number2
    print(total)
    return total

In [ ]:
my_function()

In [ ]:
result = my_function() +13

In [ ]:
print(result)

In [4]:
print(print(my_function()))

12
None
None

In [8]:
print("this")

this

In [10]:
len("rohit")

5

In [12]:
len()

TypeError: len() takes exactly one argument (0 given)

In [11]:
def name_take(firstname):
    print(f"hi {firstname} how may i help you")

In [15]:
name_take("Python")

hi Python how may i help you

In [20]:
def name_take(firstname):
    data = f"Dear {firstname} We are pleased to offer you the position of Data Science Intern at Rexgalaxy Technology."
   
    with open("rohit.txt","w") as file:
        file.write(data)

In [21]:
name_take("rohit")

In [22]:
pwd

'C:\\Users\\rkt65\\Desktop\\1Python_RexGalaxy_Clasess\\6.Python_Function'

In [ ]:
positiona argument  mand............
arbitrary argument
default argument
keyword argument

In [23]:
len()

TypeError: len() takes exactly one argument (0 given)

In [24]:
print()

In [30]:
def name_taker(first_name):
    print("hello %s"%(first_name))
    print("hello {}".format(first_name))
    print("hello {0}".format(first_name))
    print(f"hello {first_name}")

In [31]:
name_taker("Kartike")

hello Kartike
hello Kartike
hello Kartike
hello Kartike

In [40]:
def name_taker(first_name,last_name):
    result = first_name + "_"+last_name + "@ducat.com"
    print(result)

In [41]:
name_taker("Karikey","Kumar")

Karikey_Kumar@ducat.com

In [42]:
def addition(*number):
    return None

In [46]:
addition(12,12,12)

TypeError: addition() takes 2 positional arguments but 3 were given

In [60]:
def addition(*number):
    total = sum(number)
    return f"Total of your numbers is {total}"

In [62]:
addition(12,12,12,12,3,4,54,5,6)

'Total of your numbers is 120'

In [ ]:
print()

In [ ]:
print("Total of your numbers is ",total)

In [56]:
tuple1 = (12,12,12)

In [57]:
sum(tuple1)

36

In [59]:
total = 0
for i in tuple1:
    total = total +i
print(total)

36

In [71]:
print("rohit","tyagi")
print("Now")

rohit tyagi
Now

In [80]:
def exam_locator(city = "a"):
    print(f"Your location will be {city}")

In [81]:
exam_locator()

Your location will be a

In [ ]:
**kwargs

In [84]:
def my_function(**kwargs):
    print(type(kwargs))
    for key,value in kwargs.items():
        print(key,value)
        
my_function(name = "ROhit",class1 = "Python",city = "Noida")

<class 'dict'>
name ROhit
class1 Python
city Noida

In [90]:
def my_function(first_name,*args, **kwargs):
    print("your first_name",first_name)
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(key, value)

my_function(1, 2, 3, name="Rohit", Class="Python")

your first_name 1
2
3
name Rohit
Class Python

In [91]:
my_function("rohit", 2, 3, name="Rohit", Class="Python")

your first_name rohit
2
3
name Rohit
Class Python

In [105]:
def my_function(name,*args,location = "Noida-16",**kwargs):
    print(f"Hi {name} we welcome you in Ducat")
    print(args)
    print(f"Your location for training will be {location}")
    for key,value in kwargs.items():
        print("Your course is : ",key,value)

In [107]:
my_function("ROHIT","Tyagi")

Hi ROHIT we welcome you in Ducat
('Tyagi',)
Your location for training will be Noida-16

In [ ]:
my_function("Rohit","Tyagi",location="Delhi",course = ["Mysql","Python","Java"])

In [ ]:
def my_function(name,*args,location = "Noida-16",**kwargs):
    print()

In [95]:
my_function("ROhit","tyagi",city = "Delhi")

your first_name ROhit
tyagi
city Delhi