In [25]:
def input_taker(first_name,*args,location = "Noida-16",**kwargs):
    print("Your first name is ",first_name)
    print("your number is ",args[0])
    print("your email is ",args[1])
    print("your lastname is ",args[2])
    print("your city is ",location)
    for key,value in kwargs.items():
        print(key,value)

In [26]:
input_taker("Rohit",7845728968,"rohit.kumar@gmail.com","kumar",location="Delhi",course = ["python","Mysql"])

Your first name is  Rohit
your number is  7845728968
your email is  rohit.kumar@gmail.com
your lastname is  kumar
your city is  Delhi
course ['python', 'Mysql']

In [27]:
import math

In [28]:
math.factorial(5)
5*4*3*2*1

120

In [29]:
def my_factorial(number):
    fact =1
    for i in range(1,number+1):
        fact = fact * i
    return fact

In [30]:
my_factorial(5)

120

In [ ]:
1/2 b h

In [33]:
def area_of_triangle(base,height):
    area = 1/2*(base*height)
    print("Area of triangle is : ")
    return area

In [34]:
area_of_triangle(21,45)

Area of triangle is :

472.5

In [35]:
def addition(*args):
    total = 0
    for num in args:
        total = total + num

    return total

In [40]:
addition(1,2,23,45666)

45692

In [48]:
def city_locator(city = "Noida",country = "India"):
    print("Your location will be",city)
    print("your country is :",country)

In [50]:
city_locator(city = "Taxas",country = "USA")

Your location will be Taxas
your country is : USA

In [59]:
def keword_argument(**kwargs):
    for key,value in kwargs.items():
        print(key,value)

In [60]:
keword_argument(ciyt = "noida",mail = "rk@gmail.com",country  = "India")

ciyt noida
mail rk@gmail.com
country India

In [67]:
x=20
def function():
    # x = 10
    print(x)

In [68]:
function()

20

In [66]:
x

20

In [69]:
list

list

In [71]:
print(list)

40

In [72]:
tuple1 = (1,2,3)
list(tuple1)

TypeError: 'int' object is not callable

In [73]:
tuple()

()

In [ ]:
side  = 12

def area_rect(sid2)
    area = side *side2

def squre():
    area = side *side

In [81]:
def my_function():
    # global name
    
    name = "rohit"
    
#     print(f"My name is {name}")
    
    return f"My name is {name}"
    
    
print(my_function())   

print(name)

My name is rohit
rohit

In [75]:
import keyword

In [76]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [78]:
list=2

In [79]:
list([1,2,3])

TypeError: 'int' object is not callable

In [ ]:
2()