In [1]:
this = "this"
that = "that"
def my_function(name,*args,location = "Noida-16",**kwargs):
    print(f"Hi {name} we welcome you in Ducat")
    print(f"Your email is {name}.{args[0]}@ducat.com")
    print(f"Your location for training will be {location}")
    for key,value in kwargs.items():
        print("Your course is : ",key,value)

In [2]:
my_function("Rohit","Tyagi",location="Delhi",course = ["Mysql","Python","Java"])

Hi Rohit we welcome you in Ducat
Your email is Rohit.Tyagi@ducat.com
Your location for training will be Delhi
Your course is :  course ['Mysql', 'Python', 'Java']

In [3]:

def my_function():
    # global variable
    variable = 15
    print(variable)
    
    return None
    

print(variable)

NameError: name 'variable' is not defined

In [ ]:
my_function()

In [4]:
import math
import math

In [6]:
import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'