In [7]:
name = "Sachin"
age = 25

message = "Hi name your age is age"
message2 = "Hi %s your age is %d"%(name,age)

print(message)
print(message2)

Hi name your age is age
Hi Sachin your age is 25

In [8]:
name = "Sachin"
age = 25

message = "Hi name your age is age"
message2 = "Hi {} your age is {}".format(name,age)
print(message2)

Hi Sachin your age is 25

In [10]:
name = "Sachin"
age = 25

message = "Hi name your age is age"
message2 = "Hi your age is {1} and your name is {0}".format(name,age)
print(message2)

Hi your age is 25 and your name is Sachin

In [12]:
name = "Sachin"
age = 25

message = "Hi name your age is age"

message2 = f"Hi {name} your age is {age}"

print(message2)

Hi Sachin your age is 25

In [3]:
number = 3.14159
formatted_string = "The value of the number is {:.1f}".format(number)
print(formatted_string)

The value of the number is 3.1

In [4]:
path = "C:\Users\rkt65\Desktop\new_folder\text_file.txt"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (554691623.py, line 1)

In [5]:
path = "C:\\Users\\rkt65\\Desktop\\new_folder\\text_file.txt"

In [7]:
path = "C:/Users/rkt65/Desktop/new_folder/text_file.txt"

In [8]:
path = r"C:\Users\rkt65\Desktop\new_folder\text_file.txt"

In [15]:
print(r"python\nthis")

python\nthis

In [14]:
string

'python\nthis'

In [1]:
pwd

'C:\\Users\\rkt65\\Desktop\\1Python_RexGalaxy_Clasess\\Python_class_notes\\2.String\\3.String_formating'

In [15]:
with open("C://Users//rkt65//Desktop//mongodbinsertmany.txt") as file:
    content  = file.read()

In [16]:
print(content)

create a database
use database_name

Show all available databases:
show dbs;

Select a particular database to access, e.g. mydb. This will create mydb if it does not already exist:
use mydb;

Show all collections in the database (be sure to select one first, see above):
show collections;

Show all functions that can be used with the database:
db.mydb.help();

To check your currently selected database, use the command db
> db
mydb

command is used to drop a existing database.
db.dropDatabase()




# drop all databases in one go
except mongodb reserved databases
you can not delete 'admin','local','config'

db.getMongo().getDBNames().filter(n => !['admin','local','config'].includes(n)).forEach(dname => db.getMongo().getDB(dname).dropDatabase());


# find query with pretty
db.rohit_collection.find().pretty()

# filter queryies

$lt: Less than
$gte: Greater than or equal to
$lte: Less than or equal to
$eq: Equal to
$ne: Not equal to
$in: Matches any of the values specified in an array
$nin: Matches none of the values specified in an array

// check number of documents in collection

db.collection.countDocuments({})               (Name of your collection)


// user of operator
db.rohit.find({ age: { $eq: 25 } })
db.rohit.find({ age: { $ne: 30 } })
db.collection.find({ age: { $gte: 35}})
db.collection.find({ age: { $lte: 25}})
db.collection.find({ age: { $eq: 25}})
db.collection.find({ age: { $ne: 25}})
db.collection.find({ age: { $ne: 25}})


//$in (matches any of the values specified in an array):
db.collection.find({ age: { $in: [25, 30, 35] }})

//$nin (matches none of the values specified in an array):


db.collection.find({ age: { $nin: [25, 30, 35]}})



$and (logical AND)
Find documents where the age is greater than 25 and the status is "A":


db.rohit.find({ $and: [ { age: { $gt: 25 } }, { status: "A" } ] })


Find documents where the age is greater than or equal to 25, and the status is either "A" or "B", but not equal to "C":

db.rohit.find({$and: [{ age: { $gte: 25 } },{ $or: [{ status: "A" },{ status: "B" }]},{ status: { $ne: "C" }}]})





$nor (logical NOR)
Find documents where neither the age is greater than 25 nor the status is "A":


db.rohit.find({ $nor: [ { age: { $gt: 25 } }, { status: "A" } ] })



# find only names where age is greater than 30

db.collection.find({ age: { $gt: 30 } }, { _id: 0, name: 1 }).forEach(function(doc) {print(doc.name);});

In [17]:
print("rohit",end = " ")
print("sachin",end = " ")
print("ram",end = "@")

rohit sachin ram@

In [ ]:
open("String_formatting.ipynb")