# Lambda_Function

Lambda functions, also known as anonymous functions, are a concise way to create small, one-line functions in Python. They are particularly useful when you need a simple function for a short period and don't want to define a formal function using the def keyword.

Here's a detailed explanation of lambda functions:

# Syntax:

The syntax of a lambda function is as follows:

In [1]:
lambda arguments: expression

lambda: This keyword is used to create a lambda function.

arguments: These are the input parameters of the function. You can specify zero or more arguments, separated by commas.

expression: This is a single expression that defines the computation performed by the function. The result of the expression is implicitly returned by the lambda function.

# Example:

Let's look at a simple example of a lambda function that calculates the square of a number:

In [13]:
square = lambda x: x ** 2

print(square(5))

25

lambda x: This defines a lambda function that takes one argument x.

x ** 2: This is the expression that calculates the square of x.

The lambda function is assigned to the variable square.

#

lets take two arguments

In [14]:
multiply = lambda x,y : x*y

print(multiply(8,8))

64

# Limitations:

While lambda functions offer simplicity and conciseness, they have some limitations compared to regular functions defined using def:

1. They can only contain a single expression, which limits their complexity.

2. They are not as readable or self-documenting as named functions, especially for more complex logic.

3. They cannot have docstrings or annotations, which are useful for documenting the function's purpose and parameters.

# Usage:

Lambda functions can be used in various contexts, including:

Function Arguments:

Lambda functions are commonly used as arguments to higher-order functions like map(), filter(),sorted() and reduce(). For example:

# 1. map() function

The map() function in Python is a built-in function that applies a specified function to each item in an iterable (such as a list, tuple, or string) and returns a new iterator that yields the results. It takes two arguments: the function to apply and the iterable to apply it to. The syntax for the map() function is:

# map(function, iterable)

In [24]:
# question :  We have to convert all list item into int because items are string.
list1 = ["10","20","30"]
print(list1)
# we want to convert the value of list1 into int

['10', '20', '30']

In [26]:
# lets try with our for loop
list2 = []
for i in range(len(list1)):
    list2.append(int(list1[i]))
    
print(list2)

[10, 20, 30]

In [28]:
print(list2)
# our problem is solved but with a long code 
# this problem we are going to solve with the help of map () function

[10, 20, 30]

In [44]:
# list(map(function,iterable))

list1 = ["10","20","30"]
list1 = map(int,list1) # it will return only map object so we need list method to make it list


list1= list(map(int,list1))


print(list1)

[10, 20, 30]

In [48]:
# same above method we can do with lambda function
list6 = ["10","20","30"]

list7 = list(map(lambda x:int(x),list6))

print(list7)

[10, 20, 30]

# map () function with the help of user defined function

In [ ]:
# in below example we will try to convert all list1 value into int

In [32]:
list1 = ["10","20","30"]
def int_converter(n):
    
    return int(n)

list2 = list(map(int_converter,list1))

print(list2)

[10, 20, 30]

In [ ]:
# Now instead of writing in so many lines we can solve it with the help of lambda function

# map () function with the help of user defined function

In [35]:
list1 = ["10","20","30"]

list2 = list(map(lambda x:int(x),list1))

print(list2)

[10, 20, 30]

# Example2:

Lets try to make sqare of each element of the list

first we will try with user defined function

In [37]:
def i_do_square(x):
    
    return x**2

list1 = [1,2,3,4,5,6,7,8,9]

my_squared_list = list(map(i_do_square,list1))
print(my_squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

lets do it with lambda function

In [36]:
list1 = [1,2,3,4,5,6,7,8,9]

squared_list = list(map(lambda x:x**2,list1))

print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# filter function ()


In Python, the filter() function is used to filter elements from an iterable (such as a list, tuple, or set) based on a specified condition. It returns an iterator containing the elements from the original iterable for which the condition evaluates to True.

# Syntax:

The syntax of the filter() function is as follows:

# filter(function, iterable)

In [51]:
# in below progmam i want to filter the element that are strings data type
# first we will try it with out using filter or lambda function 
my_list = [1,2,"rohit","python","mysql",9.5,76,[1,2,3,4]]
filtered_list = []

for item in my_list:
    if type(item) == str:
        filtered_list.append(item)
    else:
        continue
        
print(filtered_list)

['rohit', 'python', 'mysql']

Now we will try to solve above problem with user defined function:

In [58]:
my_list_to_filter = [1,2,"rohit","python","mysql",9.5,76,[1,2,3,4]]
my_filtered_list = []
def my_filter_function(my_list_to_filter):
    
    for item in my_list:
        if type(item) == str:
            my_filtered_list.append(item)
            
        else:
            continue
            
    return my_filtered_list        
            
my_filter_function(my_list_to_filter)

['rohit', 'python', 'mysql']

In [59]:
# now we would like to use filter function

In [65]:
my_new_list = [1, 2, "rohit", "python", "mysql", 9.5, 76, [1, 2, 3, 4]]

def is_string(element):
    return isinstance(element, str)   


my_filter_list_with_filter_function  =  list(filter(is_string,my_new_list))

print(my_filter_list_with_filter_function)

['rohit', 'python', 'mysql']

In [68]:
# now we will use lambda function
my_new_list_2 = [1, 2, "rohit", "python", "mysql", 9.5, 76, [1, 2, 3, 4]]
filter_list_with_lambda = list(filter(lambda item:isinstance(item,str),my_new_list_2))

filter_list_with_lambda

['rohit', 'python', 'mysql']

In [1]:
# filter number divided by 2
my_new_list_2 = [1, 2,9.5, 76,]
filter_list_with_lambda = list(filter(lambda item:item%2==0,my_new_list_2))

filter_list_with_lambda

[2, 76]

# reduce() function

The reduce() function in Python is used to apply a function to an iterable (such as a list) cumulatively, reducing the iterable to a single value. It's part of the functools module in Python 3, so you need to import it before using it.

In [72]:
from functools import reduce

In [73]:
# syntax reduce(function,sequence)
# reduce functin do not return list becuase it retruns only single value
# instead of list , it returns a single output
# first of all you need to import the reduce funtion from functools
# by reduce function you can add ,multipy,subtract or many more
# if you use reduce function and use lambda in function it will take two arguments

In [74]:
from functools import reduce

list1=[1,2,3,4,]

Addition=reduce(lambda x,y:x+y , list1) # [1+2+3+4]=10

Multiplication=reduce(lambda x,y:x*y , list1) # [1*2*3*4]=24

Subtract=reduce(lambda x,y:x-y , list1) #[1-2-3-4]=-8

print(Addition)
print(Multiplication)
print(Subtract)

10
24
-8

In [78]:
# same problem  can be solved with the help of listcomprehension

In [80]:
my_list11 =[1, 2, "rohit", "python", "mysql", 9.5, 76, [1, 2, 3, 4]]

mylistfinal = [item for item in my_list11 if isinstance(item,str)]

print(mylistfinal)

['rohit', 'python', 'mysql']

# sorted() method

In Python, the sorted() function is used to sort any iterable (such as lists, tuples, or strings) and returns a new list containing the sorted elements. It does not modify the original iterable; instead, it returns a new sorted list.

The syntax for the sorted() function is as follows:

In [81]:
sorted(iterable, *, key=None, reverse=False)

SyntaxError: iterable argument unpacking follows keyword argument unpacking (616441449.py, line 1)

In [85]:
# Sort a list of strings in descending order
list_to_sorted = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_numbers = sorted(list_to_sorted)
print(sorted_numbers)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [96]:
# Sort a list of strings in descending order
words = ['apple', 'banana', 'cherry', 'date']
sorted_words = sorted(words, reverse=False)
print(sorted_words)

['apple', 'banana', 'cherry', 'date']

In [93]:
# Sort a list of tuples based on the first element
pairs = [(1, 'b'), (2, 'a'), (3, 'c')]
sorted_pairs = sorted(pairs, key=lambda x: x[0])
print(sorted_pairs)

[(1, 'b'), (2, 'a'), (3, 'c')]

In [94]:
# Sort a list of tuples based on the second element
pairs = [(1, 'b'), (2, 'a'), (3, 'c')]
sorted_pairs = sorted(pairs, key=lambda x: x[1])
print(sorted_pairs)

[(2, 'a'), (1, 'b'), (3, 'c')]