In [34]:
print(1,2,sep=" *",end="\n")

1 *2

In [59]:
def print1(first_name,last_name,*args,city = "Noida",**kwargs):
    print("Your first_name is :",first_name)
    print("Your last_name is : ",last_name)
    for i in args:
        print(i)

    for key,value in kwargs.items():
        print(key,value)

    print("total of your all nubmers is: ",sum(args))
    
    
    
    return None

In [60]:
print1("ROhit","Tyagi",1,2,4,4,5,8,910,city = "Delhi", name = "Sachin")

Your first_name is : ROhit
Your last_name is :  Tyagi
1
2
4
4
5
8
910
name Sachin
total of your all nubmers is:  934

In [63]:
print()

TypeError: 'city' is an invalid keyword argument for print()

In [64]:
ages = {
    'pam': 24,
    'jim': 24
    'michael': 43
    }

print(f'Michael is {ages["michael"]} years old.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (728726206.py, line 3)