# Questin1 Solution:

In [11]:
import pandas as pd

# Load the data from Excel files
data1 = pd.read_excel('data.xlsx', sheet_name='data1')
data2 = pd.read_excel('data.xlsx', sheet_name='data2')

# Concatenate the 'orderid' and 'Product id' columns to create the primary key
data1['Primary Key'] = data1['Order ID'].astype(str) + data1['Product ID'].astype(str)
data2['Primary Key'] = data2['Product ID'].astype(str) + data2['Product ID'].astype(str)

# Identify records present in data1 but missing in data2
missing_records = data1[~data1['Primary Key'].isin(data2['Primary Key'])]

# Display the missing records
print(missing_records)

print("number of missing records are : ",len(missing_records))

            Order ID       Product ID  Qty                    Primary Key
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]
number of missing records are :  9478

# Question2 Solution:

In [15]:
import pandas as pd

# Load the data from Excel files
data1 = pd.read_excel('data.xlsx', sheet_name='data1')
data2 = pd.read_excel('data.xlsx', sheet_name='data2')

# Concatenate the 'orderid' and 'Product id' columns to create the primary key
data1['Primary Key'] = data1['Order ID'].astype(str) + data1['Product ID'].astype(str)
data2['Primary Key'] = data2['Order ID'].astype(str) + data2['Product ID'].astype(str)

# Identify records missing in data1 but present in data2
missing_records = data2[~data2['Primary Key'].isin(data1['Primary Key'])]


# diplsay the record

print(missing_records)

# Get the count of missing records
num_missing_records = len(missing_records)



# Display the count


print("Number of missing records in data1:", num_missing_records)

            Order ID       Product ID   Qty                    Primary Key
11    CA-2014-100706  TEC-AC-10001314   2.0  CA-2014-100706TEC-AC-10001314
14    CA-2014-100762  OFF-PA-10001815   3.0  CA-2014-100762OFF-PA-10001815
30    CA-2014-101427  OFF-AR-10002257   3.0  CA-2014-101427OFF-AR-10002257
56    CA-2014-102652  FUR-FU-10001918   7.0  CA-2014-102652FUR-FU-10001918
63    CA-2014-102869  OFF-PA-10000788   3.0  CA-2014-102869OFF-PA-10000788
...              ...              ...   ...                            ...
9428  US-2017-165344  OFF-BI-10003196  10.0  US-2017-165344OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943   5.0  US-2017-165358TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159   5.0  US-2017-167920OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947   5.0  US-2017-169502OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519   3.0  US-2017-169551FUR-BO-10001519

[508 rows x 4 columns]
Number of missing records in data1: 508

# Question3 Solution:

In [7]:
import pandas as pd

# Load the data from Excel files
data1 = pd.read_excel('data.xlsx', sheet_name='data1')
data2 = pd.read_excel('data.xlsx', sheet_name='data2')

# Concatenate the 'orderid' and 'Product id' columns to create the primary key
data1['Primary Key'] = data1['Order ID'].astype(str) + data1['Product ID'].astype(str)
data2['Primary Key'] = data2['Order ID'].astype(str) + data2['Product ID'].astype(str)

print(data1)

# Identify records missing in data1 but present in data2

# print(~data2['Primary Key'].isin(data1['Primary Key'])) # eill return true and false



missing_records = data2[~data2['Primary Key'].isin(data1['Primary Key'])]

# Calculate the sum of the 'quantity' column in the missing records
sum_missing_quantity = missing_records['Qty'].sum()

# Display the sum
print("Sum of total quantity in missing records:", sum_missing_quantity)

            Order ID       Product ID  Qty                    Primary Key
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]
Sum of total quantity in missing records: 1956.0

In [2]:
import pandas as pd

# Load the data from Excel files
data1 = pd.read_excel('data.xlsx', sheet_name='data1')
data2 = pd.read_excel('data.xlsx', sheet_name='data2')

# Concatenate data1 and data2 to create the combined dataset
combined_data = pd.concat([data1, data2])

# Identify the total number of unique records in the combined dataset
num_unique_records = len(combined_data.drop_duplicates())

# Display the total number of unique records
print("Total number of uniqe record in both dat1 and data2 are:", num_unique_records)

Total number of uniqe record in both dat1 and data2 are: 9986

In [4]:
combined_data

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075  3.0
1     CA-2014-100090  FUR-TA-10003715  3.0
2     CA-2014-100090  OFF-BI-10001597  6.0
3     CA-2014-100293  OFF-PA-10000176  6.0
4     CA-2014-100328  OFF-BI-10000343  1.0
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100  3.0
9475  US-2017-169551  OFF-ST-10004835  3.0
9476  US-2017-169551  TEC-AC-10002018  3.0
9477  US-2017-169551  TEC-AC-10003033  2.0
9478  US-2017-169551  TEC-PH-10001363  2.0

[18957 rows x 3 columns]