In [1]:
def i_do_square(n):
    
    return n**2

In [2]:
i_do_square(10)

100

In [3]:
square = lambda n:n**2

In [5]:
square(11)

121

In [6]:
my_list = ["rohit","tyagi","@","gmail.com"]

In [10]:
("-").join(my_list)

'rohit-tyagi-@-gmail.com'

In [12]:
for i,j in enumerate(my_list):
    print(i,j)

0 rohit
1 tyagi
2 @
3 gmail.com

In [11]:
print(enumerate(my_list))

<enumerate object at 0x0000014A8B968A40>

In [14]:
for i,j in enumerate(my_list):
    
    if i%2 !=0:
        print(i,j)

1 tyagi
3 gmail.com