In [2]:
list1 = [""]

In [25]:
import pandas as pd
df  = pd.read_csv(r"C:\Users\rkt65\Desktop\parth table.csv")
df.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [26]:
df["first_name"]

0      PENELOPE
1          NICK
2            ED
3      JENNIFER
4        JOHNNY
         ...
195        BELA
196       REESE
197        MARY
198       JULIA
199       THORA
Name: first_name, Length: 200, dtype: object

In [29]:
list1 = ["rohit",12,56.7,None,["this","that"],"rohit"]

In [30]:
list1[-1]

'rohit'

In [31]:
list1.endswith("rohit")

AttributeError: 'list' object has no attribute 'endswith'

In [32]:
"list".endswith("t")

True

In [33]:
list1 = [1,2,3,4]

In [34]:
sum(list1)

10

In [36]:
max((1,2,7))

7

In [38]:
list1 = list((1,2,3,4))

In [40]:
list1
type(list1)

list

In [41]:
list1 = [1,2,4,5]

In [42]:
list1 = ["rohit",12,56.7,None,["this","that"],"rohit"]
for item in list1:
    print(item)

rohit
12
56.7
None
['this', 'that']
rohit

In [43]:
list1[0]

'rohit'

In [44]:
type(list1[4])

['this', 'that']

In [46]:
list1[4][1]

'that'

In [47]:
list1[1::1]

[12, 56.7, None, ['this', 'that'], 'rohit']

In [48]:
list1.append("now")

In [49]:
list1

['rohit', 12, 56.7, None, ['this', 'that'], 'rohit', 'now']

In [52]:
a = 3
id(a)

140726464922472

In [60]:
b= 5
c = 5
print(id(b))
print(id(c))
print(b is c)

140726464922536
140726464922536
True

In [54]:
list1 = [1,2,3]
list2 = [1,2,3]

In [59]:
list1 == list2
print(id(list1))
print(id(list2))

2399354814784
2399354713728

In [56]:
list1 is list2

False

In [61]:
list1 = list2

In [62]:
list3 = list2

In [63]:
print(list3)

[1, 2, 3]

In [64]:
list3.append("000000000")

In [65]:
list3

[1, 2, 3, '000000000']

In [66]:
list2

[1, 2, 3, '000000000']

In [67]:
list3.append("ram")

In [68]:
list2

[1, 2, 3, '000000000', 'ram']

In [69]:
list1.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [70]:
list1.pop()

'ram'

In [71]:
list1

[1, 2, 3, '000000000']

In [78]:
if (1,):
    print("yes")

else:
    print("NO")

yes