In [1]:
import pandas as pd
from mysql import connector


try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='admin'
    )

    if connection.is_connected():
        db_info = connection.get_server_info()
        print("Connected to MySQL Server version", db_info)

        cursor = connection.cursor()

        # Create the database
        create_database_query = "CREATE DATABASE bhaskar_database"
        cursor.execute(create_database_query)
        print("Database 'bhaskar_database' created successfully.")

        # Switch to the created database
        use_database_query = "USE bhaskar_database"
        cursor.execute(use_database_query)

        # Create the table
        create_table_query = '''
        CREATE TABLE bhaskar_table (
            bike_name VARCHAR(255),
            price float,
            city VARCHAR(255),
            kms_driven float,
            owner VARCHAR(255),
            age float,
            power float,
            brand VARCHAR(255)
            
        )
        '''
        cursor.execute(create_table_query)
        print("Table 'bhaskar_table' created successfully.")

        # Read CSV file into DataFrame
        data = pd.read_csv('task_2_used_bikes.csv')

        # Insert DataFrame into the table
        for _, row in data.iterrows():
            insert_query = f'''
            INSERT INTO bhaskar_table (bike_name, price, city,kms_driven,owner,age,power,brand)
            VALUES ('{row['bike_name']}', {row['price']}, '{row['city']}',{row['kms_driven']},'{row['owner']}',{row['age']},{row['power']},'{row['brand']}')
            '''
            cursor.execute(insert_query)

        connection.commit()
        print("Data inserted into 'bhaskar_table' successfully.")

        # Create index on the column
        create_index_query = "ALTER TABLE bhaskar_table ADD INDEX bhaskar_index (column1)"
        cursor.execute(create_index_query)
        print("Index created successfully.")

except Exception as e:
    print("Error while connecting to MySQL", e)

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection closed.")

Error while connecting to MySQL name 'mysql' is not defined

NameError: name 'connection' is not defined

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
   host="localhost", user="root", port='3306', database="database_name")

In [ ]:
import mysql.connector.connector

In [ ]:
pip install python-mysql.connector

In [2]:
 pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rkt65\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\rkt65\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rkt65\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\rkt65\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector

In [12]:
import mysql.connector.connector

ModuleNotFoundError: No module named 'mysql.connector.connector'

In [14]:
from mysql import connector

In [ ]:
mysql.c