# Question1 Answer:

In [3]:
import pandas as pd

data = pd.read_csv('task_2_used_bikes.csv')

data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

# Question 2 Answer:

In [10]:
import pandas as pd

data = pd.read_csv('task_2_used_bikes.csv')

print("Memory usage before data type change:")
print(data.info())

# Change data types to int
data = data.astype('str')

print("Memory usage after data type change:")
print(data.info())

Memory usage before data type change:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB
None
Memory usage after data type change:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    object
 2   city        149 non-null    object
 3   kms_driven  149 non-null    object
 4   owner       149 non-null    object
 5   age         149 non-null    object
 6   power       149 non-null    object
 7   brand       149 non-null    object
dtypes: object(8)
memory usage: 9.4+ KB
None

# Question 3:

In [2]:
#pip install pandas mysql-connector-python
import pandas as pd
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='your_host',
        database='your_database',
        user='your_username',
        password='your_password'
    )

    if connection.is_connected():
        db_info = connection.get_server_info()
        print("Connected to MySQL Server version", db_info)

        # Read CSV file into DataFrame
        data = pd.read_csv('task_2_used_bikes.csv')

        # Dump DataFrame into MySQL database
        data.to_sql('table_name', con=connection, if_exists='replace', index=False) # table name mention

        print("Data dumped into MySQL database successfully.")

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection closed.")

ImportError: cannot import name 'Error' from 'mysql.connector' (unknown location)

# Question 4 Answer:

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='your_host',
        database='your_database',
        user='your_username',
        password='your_password'
    )

    if connection.is_connected():
        db_info = connection.get_server_info()
        print("Connected to MySQL Server version", db_info)

        cursor = connection.cursor()

        # Execute the SQL query
        query = "ALTER TABLE table_name ADD INDEX index_name (column_name)"  # mention all three names
        cursor.execute(query)

        connection.commit()
        print("Column indexed successfully.")

except Error as e:
    print("Error while indexing column", e)

finally:
    if connection.is_connected():
        connection.close()
        print("MySQL connection closed.")

ImportError: cannot import name 'Error' from 'mysql.connector' (unknown location)

In [5]:
import pandas as pd
import mysql.connector

# MySQL database connection details
db_host = 'localhost'     # Replace with your MySQL server hostname
db_port = '3306'          # Replace with the port number of your MySQL server
db_user = 'your_username' # Replace with your MySQL username
db_pass = 'your_password' # Replace with your MySQL password
db_name = 'bhaskar_database' # Replace with the desired name for your new database

# Create a connection to the MySQL server
cnx = mysql.connector.connect(host=db_host, port=db_port, user=db_user, password=db_pass)

# Create a cursor object to execute SQL queries
cursor = cnx.cursor()

# Create the new database
create_database_query = f"CREATE DATABASE IF NOT EXISTS {db_name}"
cursor.execute(create_database_query)

# Switch to the new database
use_database_query = f"USE {db_name}"
cursor.execute(use_database_query)

# Create the table
create_table_query = '''
CREATE TABLE IF NOT EXISTS bhaskar_table (
    column1 datatype1,
    column2 datatype2,
    column3 datatype3,
    ...
)
'''
cursor.execute(create_table_query)

# Read the CSV file into a DataFrame
df = pd.read_csv('task_2_used_bikes.csv')

# Prepare the data for insertion
data = [tuple(row) for row in df.values]

# Create the INSERT query
insert_query = "INSERT INTO bhaskar_table VALUES (%s, %s, %s, ...)"

# Execute the INSERT query
cursor.executemany(insert_query, data)

# Commit the changes to the database
cnx.commit()

# Close the cursor and the database connection
cursor.close()
cnx.close()

AttributeError: module 'mysql.connector' has no attribute 'connect'

In [3]:
import mysql.connector


try:
    connection = mysql.connector.connect(host='localhost',
                                         
                                         user='root',
                                         password='admin')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Exception as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Error while connecting to MySQL module 'mysql.connector' has no attribute 'connect'

NameError: name 'connection' is not defined

In [4]:
import mysql.connector
mysql.connector.connect(
        host='localhost',
        user='root',
        password='admin'
    )

AttributeError: module 'mysql.connector' has no attribute 'connect'

In [6]:
from mysql import connector
mysql.connector.connect(
        host='localhost',
        user='root',
        password='admin'
    )

AttributeError: module 'mysql.connector' has no attribute 'connect'